@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    src: url("../public/static/img/font/Butler_Ultra_Light.otf");
    font-family: "Butler U";
    font-weight: 200;
}
@font-face {
    src: url("../public/static/img/font/Butler_Light.otf");
    font-family: "Butler U";
    font-weight: 300;
}
@font-face {
    src: url("../public/static/img/font/Butler_Regular.otf");
    font-family: "Butler U";
    font-weight: 400;
}
@font-face {
    src: url("../public/static/img/font/Butler_Medium.otf");
    font-family: "Butler U";
    font-weight: 500;
}
@font-face {
    src: url("../public/static/img/font/Butler_Bold.otf");
    font-family: "Butler U";
    font-weight: 700;
}
@font-face {
    src: url("../public/static/img/font/Butler_ExtraBold.otf");
    font-family: "Butler U";
    font-weight: 800;
}
@font-face {
    src: url("../public/static/img/font/Butler_Black.otf");
    font-family: "Butler U";
    font-weight: 900;
}